// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#navbarSupportedContent {
    ul {
        margin-left: 4%;
        
        a {
            li {
                margin-right: 25px;
            }
        }
    }
}
.margin_company_form {
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.company_title {
    margin: 5px;
    .company_title-input {
        @extend .margin_company_form;
    }
    .company_title-button {
        @extend .margin_company_form;
    }
}